.calculator
{
    padding: 20px;
    border: solid 4px rgb(111, 187, 254);
    width: fit-content;
}

.display
{
    border: solid 1px black;
    padding: 5px;
    width : 200px;
    height: 20px;
    align-self: center;
    align-items: right;
    text-align: right;
    overflow: auto;
}

.display_history
{
    color:gray;
    display: inline-block;
}

.display_active
{
    display: inline-block;
}

.buttons_container
{
    margin-top: 20px;
    display: grid;
    gap: 6px;
    grid-template-columns: auto auto auto auto auto;
}

button
{
    width: 100%;
    height: 100%;
    padding: 12px;
}

#zero_button
{
    grid-column-start: 1;
    grid-column-end: 3;
}

#equal_button
{
    grid-column: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
